body {
  margin:0;
  font-family: HelveticaNeue;
  background-color: #F9FAFB;
  color: #192024;
}

.main-content {
  margin-left: 94px;
}

.title {
  margin-top: 67px;
  margin-bottom: 0;
  font-size: 44px;
  font-weight: 900;
  color: #000000;
}

.airlines {
  display: grid;
  margin-top: 56px;
  padding: 0 16px 16px 0;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr;
  gap: 16px 16px;

}


@media only screen and (min-width: 360px) and (max-width: 767px) {
  .airlines {
    grid-template-columns: 1fr;
  }

  .main-content {
    margin-left: 34px;
  }
  
}


@media only screen and (min-width: 768px) and (max-width: 1199px) { 
  .airlines {
    grid-template-columns: 0.5fr 1fr;
  }

  .main-content {
    margin-left: 74px;
  }
 }


@media only screen and (min-width: 992px) and (max-width: 1199px) { 
  .airlines {
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
  }

  .main-content {
    margin-left: 44px;
  }
 }


@media (min-width: 1200px) { 
  .airlines {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr;
  }
 }

